.Elements1 {
  border-width: 1px;
  border-style: solid;
  width: 290px;
  height: 150px;
  display: flex;
  margin-bottom: 5px;
  background-color: #0b0f15;
  color: white;
  cursor: pointer; }
  .Elements1:hover {
    opacity: 0.5; }
  .Elements1:active {
    background-color: green; }
  .Elements1 .Elements1-image {
    border-width: 1px;
    border-style: solid;
    width: 30%;
    height: 100%;
    display: flex;
    background-repeat: no-repeat; }
  .Elements1 .Elements1-infor {
    border-width: 1px;
    border-style: solid;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column; }
