.Elements {
  border-width: 1px;
  border-style: solid;
  width: 150px;
  height: 230px;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/abc.jpg");
  background-size: contain;
  cursor: pointer; }
  .Elements:hover {
    opacity: 0.5; }
  .Elements:active {
    background-color: green; }
  .Elements .Elements-top {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 70%;
    display: flex; }
  .Elements .Elements-bottom {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column; }
    .Elements .Elements-bottom .Elements-bottom-time {
      border-width: 1px;
      border-style: solid;
      width: 50%;
      height: auto; }
    .Elements .Elements-bottom .Elements-bottom-name {
      border-width: 1px;
      border-style: solid;
      width: 100%;
      height: 40%;
      text-overflow: ellipsis !important;
      white-space: nowrap;
      overflow: hidden; }
