.Menu-header {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;

    .Menu-header-top {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #1c1c1c;

        .Menu-header-top-title {
            border-width: 1px;
            border-style: solid;
            width: auto;
            height: 50px;
            display: flex;
            align-items: center;
            font-size: 30px;
            font-family: fangsong;
            color: white;
            cursor: pointer;

            &:active {
                background-color: white;
            }

        }

        .Menu-header-top-search {
            border-width: 1px;
            border-style: solid;
            width: 300px;
            height: 50px;
            display: flex;
            align-items: center;
            background-color: white;
        }

    }

    .Menu-header-bot {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: auto;

        .Menu-header-bot-header {
            padding: 0px 8%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            background-color: #282f33;
            cursor: pointer;

            .Menu-header-bot-header-login {
                &:active {
                    background-color: white;
                }

                &:hover {
                    opacity: 0.5;
                }
            }

            .Menu-header-bot-header-menu {
                display: flex;
                margin-bottom: 0px;
                list-style: none;




            }

            .Menu-header-bot-header-menu>li {
                padding: 12px 20px;
                border-right: 1px solid #fff;

            }

            .Menu-header-bot-header-menu>li:last-child {
                border: none;

            }

            .Menu-header-bot-header-menu>li>ul {
                position: absolute;
                background-color: #214467;
                list-style: none;
                top: 190px;
                width: 200px;
                display: none;
                padding-left: 1px;

            }

            .Menu-header-bot-header-menu>li>ul>li {
                padding: 20px;
                border-bottom: 1px solid #fff;

            }

            .Menu-header-bot-header-menu>li>ul>li:hover {
                background-color: yellow;

            }

            .Menu-header-bot-header-menu>li:hover>ul {

                display: block;


            }


        }





    }
}

@media (max-width: 768px) {
    .Menu-header .Menu-header-bot .Menu-header-bot-header {
        /* padding: 0px 8%; */
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        height: auto;
        background-color: #282f33;
        cursor: pointer;
        flex-direction: column;
    }

    .Menu-header .Menu-header-bot .Menu-header-bot-header .Menu-header-bot-header-menu>li {
        padding: 10px 5px;
        border-right: 1px solid #fff;
    }

    .Menu-header .Menu-header-bot .Menu-header-bot-header .Menu-header-bot-header-menu>li>ul {
        position: absolute;
        background-color: #214467;
        list-style: none;
        top: 145px;
        width: 200px;
        display: none;
        padding-left: 1px;
    }

    .Menu-header-bot-header-login {
        padding: 10px 5px;
    }



}