$background-color_1: #f8f9fa;

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: white;
}

.DetailedInfor {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    .DetailedInfor-header {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;

        // .DetailedInfor-header-top {
        //     border-width: 1px;
        //     border-style: solid;
        //     width: 100%;
        //     height: 100%;
        //     display: flex;

        // }

        // .DetailedInfor-header-bot {
        //     border-width: 1px;
        //     border-style: solid;
        //     width: 100%;
        //     height: auto;

        //     .DetailedInfor-header-bot-header {
        //         padding: 0px 8%;
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         height: 50px;
        //         background-color: #282f33;
        //         cursor: pointer;

        //         .DetailedInfor-header-bot-header-login {
        //             &:active {
        //                 background-color: white;
        //             }

        //             &:hover {
        //                 opacity: 0.5;
        //             }
        //         }

        //         .DetailedInfor-header-bot-header-menu {
        //             display: flex;
        //             margin-bottom: 0px;
        //             list-style: none;




        //         }

        //         .DetailedInfor-header-bot-header-menu>li {
        //             padding: 12px 20px;
        //             border-right: 1px solid #fff;

        //         }

        //         .DetailedInfor-header-bot-header-menu>li:last-child {
        //             border: none;

        //         }

        //         .DetailedInfor-header-bot-header-menu>li>ul {
        //             position: absolute;
        //             background-color: #214467;
        //             list-style: none;
        //             top: 150px;
        //             width: 200px;
        //             display: none;
        //             padding-left: 1px;

        //         }

        //         .DetailedInfor-header-bot-header-menu>li>ul>li {
        //             padding: 20px;
        //             border-bottom: 1px solid #fff;

        //         }

        //         .DetailedInfor-header-bot-header-menu>li>ul>li:hover {
        //             background-color: yellow;

        //         }

        //         .DetailedInfor-header-bot-header-menu>li:hover>ul {

        //             display: block;


        //         }


        //     }





        // }
    }

    .DetailedInfor-content {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: 2000px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
        // background-color: #222d38;


        .DetailedInfor-content-left {
            border-width: 1px;
            border-style: solid;
            width: 73%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .DetailedInfor-content-left-top {
                border-width: 1px;
                border-style: solid;
                width: 100%;
                height: 500px;
                display: flex;

                .DetailedInfor-content-left-top-image {
                    border-width: 1px;
                    border-style: solid;
                    width: 30%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .DetailedInfor-content-left-top-image-image {
                        border-width: 1px;
                        border-style: solid;
                        width: 100%;
                        height: 85%;
                        display: flex;
                        background-image: url('../../images/abc.jpg');
                    }

                    .DetailedInfor-content-left-top-image-watch {
                        border-width: 1px;
                        border-style: solid;
                        width: 100%;
                        height: 25%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .DetailedInfor-content-left-top-infor {
                    border-width: 1px;
                    border-style: solid;
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;

                    .DetailedInfor-content-left-top-infor-title {
                        border-width: 1px;
                        border-style: solid;
                        width: 100%;
                        height: 30%;
                        display: flex;
                        padding-top: 50px;
                        font-size: 50px;

                    }

                    .DetailedInfor-content-left-top-infor-detail {
                        border-width: 1px;
                        border-style: solid;
                        width: 100%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;

                        .abcd {
                            border-width: 1px;
                            border-style: solid;
                            display: flex;
                            margin-bottom: 10px;
                            font-family: sans-serif;
                            font-size: 15px;

                        }
                    }
                }

            }

            .DetailedInfor-content-left-bottom {
                border-width: 1px;
                border-style: solid;
                width: 100%;
                height: 300px;
                display: flex;
                flex-direction: column;

                .DetailedInfor-content-left-bottom-title {
                    border-width: 1px;
                    border-style: solid;
                    width: 100%;
                    height: auto;
                    display: flex;
                    font-size: 30px;
                }

                .DetailedInfor-content-left-bottom-content {
                    border-width: 1px;
                    border-style: solid;
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
            }




        }

        .DetailedInfor-content-right {
            border-width: 1px;
            border-style: solid;
            width: 27%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .DetailedInfor-content-right-header {
                border-width: 1px;
                border-style: solid;
                width: 100%;
                height: 50px;
                display: flex;
                font-size: 25px;
                align-items: center;
            }

            .DetailedInfor-content-right-content {
                border-width: 1px;
                border-style: solid;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
            }

        }

    }

    .DetailedInfor-footer {
        border-width: 4px;
        border-style: solid;
        width: 100%;
        min-height: 300px;
        display: flex;
        background-color: #222d38;
        list-style: none;
        padding-left: 8%;
        padding-right: 20%;
        justify-content: space-between;
        border-top-color: black;



    }

    .Footer-end {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        min-height: 100px;
        display: flex;
        background-color: #0e1215;
        justify-content: flex-end;
        align-items: center;
        color: white;
        padding-right: 20px;

    }
}

@media (max-width: 768px) {

    .DetailedInfor .DetailedInfor-footer {
        border-width: 4px;
        border-style: solid;
        width: 100%;
        height: auto;
        display: flex;
        background-color: #222d38;
        list-style: none;
        padding-left: 8%;
        padding-right: 20%;
        justify-content: space-between;
        border-top-color: black;
    }
}