* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important;
  color: white; }

.Home {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; }
  .Home .Home-header {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column; }
    .Home .Home-header .Home-header-top {
      border-width: 1px;
      border-style: solid;
      width: 100%;
      height: 100%;
      display: flex; }
    .Home .Home-header .Home-header-bot {
      border-width: 1px;
      border-style: solid;
      width: 100%;
      height: auto; }
      .Home .Home-header .Home-header-bot .Home-header-bot-header {
        padding: 0px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: #282f33;
        cursor: pointer; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-login:active {
          background-color: white; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-login:hover {
          opacity: 0.5; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu {
          display: flex;
          margin-bottom: 0px;
          list-style: none; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li {
          padding: 12px 20px;
          border-right: 1px solid #fff; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li:last-child {
          border: none; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li > ul {
          position: absolute;
          background-color: #214467;
          list-style: none;
          top: 150px;
          width: 200px;
          display: none;
          padding-left: 1px; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li > ul > li {
          padding: 20px;
          border-bottom: 1px solid #fff; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li > ul > li:hover {
          background-color: yellow; }
        .Home .Home-header .Home-header-bot .Home-header-bot-header .Home-header-bot-header-menu > li:hover > ul {
          display: block; }
  .Home .Home-content {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    min-height: 500px;
    display: flex;
    padding-left: 8%;
    padding-right: 8%; }
    .Home .Home-content .Home-content-left {
      border-width: 1px;
      border-style: solid;
      width: 73%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .Home .Home-content .Home-content-left .Home-content-left-one {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; }
        .Home .Home-content .Home-content-left .Home-content-left-one .Home-content-left-one-header {
          border-width: 1px;
          border-style: solid;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          font-size: 25px; }
        .Home .Home-content .Home-content-left .Home-content-left-one .Home-content-left-one-content {
          border-width: 1px;
          border-style: solid;
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap; }
      .Home .Home-content .Home-content-left .Home-content-left-two {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: auto;
        display: flex; }
      .Home .Home-content .Home-content-left .Home-content-left-three {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; }
        .Home .Home-content .Home-content-left .Home-content-left-three .Home-content-left-three-header {
          border-width: 1px;
          border-style: solid;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          font-size: 25px; }
        .Home .Home-content .Home-content-left .Home-content-left-three .Home-content-left-three-content {
          border-width: 1px;
          border-style: solid;
          width: 100%;
          height: auto;
          display: flex;
          flex-wrap: wrap; }
        .Home .Home-content .Home-content-left .Home-content-left-three .Home-content-left-three-pagination {
          border-width: 1px;
          border-style: solid;
          width: 100%;
          height: 100px;
          display: flex;
          justify-content: center !important;
          align-items: center !important; }
          .Home .Home-content .Home-content-left .Home-content-left-three .Home-content-left-three-pagination ul.panination {
            display: flex;
            list-style: none; }
    .Home .Home-content .Home-content-right {
      border-width: 1px;
      border-style: solid;
      width: 27%;
      height: auto;
      display: flex;
      flex-direction: column; }
      .Home .Home-content .Home-content-right .Home-content-right-header {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 25px; }
      .Home .Home-content .Home-content-right .Home-content-right-content {
        border-width: 1px;
        border-style: solid;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column; }
  .Home .Home-footer {
    border-width: 4px;
    border-style: solid;
    width: 100%;
    min-height: 300px;
    display: flex;
    background-color: #222d38;
    list-style: none;
    padding-left: 8%;
    padding-right: 20%;
    justify-content: space-between;
    border-top-color: black; }
  .Home .Footer-end {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #0e1215;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-right: 20px; }

@media (max-width: 768px) {
  .Home .Home-footer {
    border-width: 4px;
    border-style: solid;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #222d38;
    list-style: none;
    padding-left: 8%;
    padding-right: 20%;
    justify-content: space-between;
    border-top-color: black; } }
